In [1]:
import pandas as pd
from faker import Factory
from faker import Faker
import names
import random
import sys
import math
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import uniform, norm, beta, weibull_min, rv_discrete
from scipy.spatial.distance import cdist, euclidean

from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails
import googlemaps
import time, datetime
import geopy.geocoders as gc
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from bs4 import BeautifulSoup
import re
from urllib.request import urlopen
from selenium import webdriver


%matplotlib inline

//anaconda/lib/python3.5/site-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
napa_data_raw = pd.read_excel('Napa Building Damage Raw Dataset.xlsx', dtype={'Object ID': np.int, 
                'Address' : str, 'Latitude' : np.float32, 
                'Longitude' : np.float32, 'Entry' : datetime.datetime, 'Tag' : str, 
                'Description' : str})

In [3]:
napa_data_raw.head()

,Object ID,Address,Latitude,Longitude,Entry,Tag,Description
0,981,1 BURNETTE CT,38.315235,-122.308174,2014-09-05,Yellow,"chimney broken at roof line, avoid side yard u..."
1,809,1 EDITH CT,38.314804,-122.310585,2014-09-23,Yellow,chimney cracked at roofline - do not use firep...
2,2379,1 FIRST ST,38.303623,-122.273598,2014-09-05,Yellow,"separation of chimney bricks, Restriction arou..."
3,1196,1 HUNTINGTON CT,38.304222,-122.323288,2014-09-05,Green,no posting - property owner structural engr
4,1242,1 LUKE DR,38.343555,-122.327278,2014-09-05,Green,structure good

In [4]:
napa_data_hua = pd.read_excel('Napa Building Damage Modified by Henry.xlsx', dtype={
            'Occupancy' : str, 'Address' : str, 
            'Latitude' : np.float32, 'Longitude' : np.float32, 'Permit Issued' : datetime.datetime,
            'Permit Finaled' : datetime.datetime,
            'Year' : datetime.datetime, 'Chimney' : np.int, 'Value' : np.float, 'Area' : np.float,
            'Foundation' : np.int, 'Damage Level' : np.int
                })

In [5]:
napa_data_hua.head()

,Address,Occupancy,Area,Year,Value,Chimney,Foundation,Damage Level,Permit Issued,Permit Finaled
0,1 1ST ST,Residential,1800.0,NaN,NaN,0,0,2,NaT,NaT
1,1 BURNETTE CT,Residential,1106.0,1954,372800.0,0,0,2,NaT,NaT
2,1 EDITH CT,Residential,2200.0,NaN,NaN,0,0,2,NaT,NaT
3,1 ROSE LN,Residential,1292.0,1951,505800.0,0,0,1,2014-11-21,NaT
4,100 LILIENTHAL AVE,Residential,1572.0,1955,507700.0,0,0,2,NaT,NaT

In [52]:
napa_data = pd.merge(napa_data_raw, napa_data_hua, on='Address', how='outer')

In [7]:
len(napa_data)

3462

In [8]:
napa_data.head()

,Object ID,Address,Latitude,Longitude,Entry,Tag,Description,Occupancy,Area,Year,Value,Chimney,Foundation,Damage Level,Permit Issued,Permit Finaled
0,981.0,1 BURNETTE CT,38.315235,-122.308174,2014-09-05,Yellow,"chimney broken at roof line, avoid side yard u...",Residential,1106.0,1954,372800.0,0.0,0.0,2.0,NaT,NaT
1,809.0,1 EDITH CT,38.314804,-122.310585,2014-09-23,Yellow,chimney cracked at roofline - do not use firep...,Residential,2200.0,NaN,NaN,0.0,0.0,2.0,NaT,NaT
2,2379.0,1 FIRST ST,38.303623,-122.273598,2014-09-05,Yellow,"separation of chimney bricks, Restriction arou...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,1196.0,1 HUNTINGTON CT,38.304222,-122.323288,2014-09-05,Green,no posting - property owner structural engr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,1242.0,1 LUKE DR,38.343555,-122.327278,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [ ]:
fake = Faker()

def set_name(x):
    return fake.name()

def set_income(income_series, count_series):
    x = income_series
    p_x = count_series / count_series.sum()
    income_dist = rv_discrete(name='Income', values=(x, p_x))
    return income_dist.rvs()

def set_savings(income):
    if pd.isnull(income): return
    savings_dist = beta(a=2, b=1, loc=5000, scale = 200000)
    max_pdf = savings_dist.pdf(205000)
    inc_pdf = savings_dist.pdf(income)
    savings_rate = 0.25*(inc_pdf / max_pdf)
    return savings_rate * income

def set_house_value(income):
    if ~pd.isnull(income): return
    min_house_price_multiplier = 2
    return income*uniform.rvs(loc = min_house_price_multiplier, scale = 1)

def set_house_area(value):
    if pd.isnum(value): return
    dollar_per_sf = 150
    if int(value / dollar_per_sf) < 500:
        return 500
    else:
        return value / dollar_per_sf

def set_mortgage_payment(value):
    if pd.isnull(value): return
    monthly_rate = 0.05/12
    num_payments = 30*12
    down_payment = 0.1
    loan_value = value - value * down_payment
    return -np.pmt(monthly_rate,num_payments, loan_value)

def set_occupancy(income):
    if income >= 50000:
        return 'Single Family Dwelling'
    elif uniform.rvs(0,1) >= 0.2:
        return 'Single Family Dwelling'
    else:
        return 'Mobile Home'

def set_listing():
    if uniform.rvs(0,1) >= 0.3333:
        return False
    else:
        return True

def set_credit(x):
    return int(uniform.rvs(300, 350))

def set_insurance(income):
    insurance_dist = beta(a=2, b=1, loc=5000, scale = 200000)
    max_pdf = insurance_dist.pdf(205000)
    inc_pdf = insurance_dist.pdf(income)
    if inc_pdf / max_pdf > 0.5:
        return 0.8
    else:
        return 0.0

def set_bedrooms(area):
    if area <= 500:
        return 0
    else:
        bedrooms_pct = 0.3
        avg_sf = 200
        return int((bedrooms_pct * area) / avg_sf ) 

def set_bathrooms(area):
    if area <= 500:
        return 1
    else:
        bathrooms_pct = 0.1
        avg_sf = 100
        return max(int((bathrooms_pct * area) / avg_sf ), 1)

In [61]:
# napa_data['Name'] = np.nan
# napa_data['Credit'] = np.nan
# napa_data['Savings'] = np.nan
# napa_data['Bedrooms'] = napa_data['Area']
# napa_data['Bathrooms'] = napa_data['Area']
# napa_data['Mortgage Payment'] = napa_data['Value']
# napa_data['Listing'] = np.nan
# napa_data['Insurance'] = np.nan

In [ ]:
napa_data.loc[napa_data['Value'].isnull(),'Value'] = napa_data['Income'].apply(set_house_value)

In [ ]:
# napa_data['Credit'].apply(set_credit);
# napa_data['Name'].apply(set_name);
# napa_data['Savings'].apply(set_savings);

Example of how to assign slices

In [63]:
f = pd.DataFrame({'a':[1,2,3,4,5], 'b':[10,20,30,40,50]})

In [64]:
f.loc[f['a'] <= 3, 'b'] = f.loc[f['a'] <= 3, 'b'] / 10

In [71]:
napa_data.loc[napa_data['Value'].isnull(),'Value'] = napa_data.loc[napa_data['Value'].isnull(),'Chimney']

In [72]:
napa_data.loc[napa_data['Value'].isnull(),'Value']

Series([], Name: Value, dtype: object)

In [ ]:
# napa_data['Mortgage Payment'].apply(set_mortgage_payment)

# Geocoding

In [23]:
google_api_key = 'AIzaSyDBXKfUQ5g-vuTM_rbFnUPQvfXKaSBf_pk'
geolocator = gc.GoogleV3(api_key=google_api_key)

In [50]:
street_address = '458 BROWN ST'
# street_address = '1 BURNETTE CT'
city = "NAPA"
state = 'CA'
full_address = street_address + ', ' + city + ', ' + state

gmaps = googlemaps.Client(key=google_api_key)
geocode_results = gmaps.geocode(full_address)

In [37]:
geocode_results

[{'address_components': [{'long_name': '1',
    'short_name': '1',
    'types': ['street_number']},
   {'long_name': 'Burnette Court',
    'short_name': 'Burnette Ct',
    'types': ['route']},
   {'long_name': 'Napa',
    'short_name': 'Napa',
    'types': ['locality', 'political']},
   {'long_name': 'Napa County',
    'short_name': 'Napa County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '94558', 'short_name': '94558', 'types': ['postal_code']},
   {'long_name': '4515',
    'short_name': '4515',
    'types': ['postal_code_suffix']}],
  'formatted_address': '1 Burnette Ct, Napa, CA 94558, USA',
  'geometry': {'bounds': {'northeast': {'lat': 38.3153151,
     'lng': -122.3080789},
    'southwest': {'lat': 38.3151588, 'lng': -122.3082439}},
   'location': {'lat': 38.3152233, 'lng': -122.3081606},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 38.3165859302915,
     'lng': -122.3068124197085},
    'southwest': {'lat': 38.3138879697085, 'lng': -122.3095103802915}}},
  'place_id': 'ChIJhbVAnOEGhYAR4QbGr2_-wik',
  'types': ['premise']}]

In [51]:
geocode_results[0]['address_components'][6]['long_name']

'94559'

In [32]:
if 'address_components' in geocode_results:
    geocode_results['address_components']

In [26]:
def get_city(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'locality' in address_component['types']:
                return address_component['long_name']
            
def get_zip(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'postal_code' in address_component['types']:
                return address_component['long_name']
                
def get_state(geocode_results):
     if 'address_components' in geocode_results:
        for address_component in geocode_results['address_components']:
            if 'administrative_area_level_1' in address_component['types']:
                return address_component['long_name']

In [ ]:
# now map our functions to extract city and state names
# city = get_city(geocode_results[0]) 
zipcode = get_zip(geocode_results[0]) 
state = get_state(geocode_results[0]) 
print(city, ' ', state, ' ', zipcode)

In [59]:
zipcode = []

# napa_data = napa_data[:4]

for index, row in napa_data[:4].iterrows():
#     time.sleep(0.1)
#     try:
#         geocode_results = geolocator.geocode(query = row['Address'] + ', NAPA, CA', exactly_one=True).raw
#         zc = geocode_results[0]['address_components'][6]['long_name']
#         zipcode.append(zc)
#     except:
#         zipcode.append('94559')

    geocode_results = geolocator.geocode(query = row['Address'] + ', NAPA, CA', exactly_one=True).raw
    zc = geocode_results[0]['address_components'][6]['long_name']
    zipcode.append(zc)

GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time.

In [55]:
zipcode

['94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 '94559',
 ...]

In [54]:
# import pickle

with open('napa_zipcodes.pkl', 'wb') as f:
    pickle.dump(zipcode, f, pickle.HIGHEST_PROTOCOL)
    
# with open('napa_zipcodes.pkl', 'rb') as f:
#     zipcode = pickle.load(f)

In [56]:
napa_data.loc[:, 'Zipcode'] = zipcode

In [104]:
import pickle

with open('napa_data_w_zillow_corrected_occupancy.pkl', 'wb') as f:
    pickle.dump(napa_data, f, pickle.HIGHEST_PROTOCOL)
    
# with open('napa_data_w_zillow.pkl', 'rb') as f:
#     napa_data = pickle.load(f)

In [58]:
napa_data

,Object ID,Address,Latitude,Longitude,Entry,Tag,Description,Occupancy,Area,Year,Value,Chimney,Foundation,Damage Level,Permit Issued,Permit Finaled,Zipcode
0,981.0,1 BURNETTE CT,38.315235,-122.308174,2014-09-05,Yellow,"chimney broken at roof line, avoid side yard u...",Residential,1106.0,1954,372800.0,0.0,0.0,2.0,NaT,NaT,94559
1,809.0,1 EDITH CT,38.314804,-122.310585,2014-09-23,Yellow,chimney cracked at roofline - do not use firep...,Residential,2200.0,NaN,NaN,0.0,0.0,2.0,NaT,NaT,94559
2,2379.0,1 FIRST ST,38.303623,-122.273598,2014-09-05,Yellow,"separation of chimney bricks, Restriction arou...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
3,1196.0,1 HUNTINGTON CT,38.304222,-122.323288,2014-09-05,Green,no posting - property owner structural engr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
4,1242.0,1 LUKE DR,38.343555,-122.327278,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
5,2942.0,1 ROSE LN,38.305603,-122.294220,2014-09-05,Yellow,Chimney cracked @ roof line,Residential,1292.0,1951,505800.0,0.0,0.0,1.0,2014-11-21,NaT,94559
6,3215.0,1 ST FRANCIS CIR,38.274902,-122.306778,2014-09-25,Green,Under repair due to H2O damage. No major damag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
7,2664.0,1 WESLEY CT,38.343330,-122.329369,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
8,2979.0,1 WHITE TAIL DR,38.343594,-122.328445,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
9,402.0,10 ENTERPRISE CT,38.259846,-122.276230,2014-09-05,Green,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
10,1562.0,10 HARVARD LN,38.309414,-122.343994,2014-09-24,Green,Minor drywall cracking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
11,1845.0,10 LEANN CT,38.307648,-122.306183,2014-09-25,Green,Interior GYP board cracking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
12,1223.0,10 LUGO LN,38.288864,-122.271133,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
13,2584.0,10 LUKE DR,38.343990,-122.327637,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
14,1150.0,10 OAK ROCK LN,38.307400,-122.315765,2014-09-05,Green,minor damage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
15,72.0,10 TUSCANY CT,38.313087,-122.342812,2014-09-05,Yellow,front door does not open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
16,2662.0,10 WESLEY CT,38.343567,-122.330154,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
17,3111.0,10 WHITE TAIL DR,38.343731,-122.329185,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
18,2488.0,10 WILD RYE WAY,38.326622,-122.298294,2014-09-24,Green,Cracks in stucco diagonal south east wall @ wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
19,1139.0,100 LILIENTHAL AVE,38.287945,-122.311638,2014-09-23,Yellow,"cracks at firebox of masonry chimney, water he...",Residential,1572.0,1955,507700.0,0.0,0.0,2.0,NaT,NaT,94559
20,2289.0,100 PICKWICK DR,38.287582,-122.306259,2014-09-05,Green,chimney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
21,2476.0,100 PICKWICK DR,38.287582,-122.306259,2014-10-02,Yellow,Chimney fall hazard removed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
22,2895.0,100 RIVERSIDE DR,38.286934,-122.284500,2014-09-05,Green,structure good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
23,2345.0,1000 MAIN ST,38.299389,-122.285454,2014-09-05,Yellow,Northwall crack - 3rd floor can see daylightm ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
24,2828.0,1000 MONTICELLO RD,38.325497,-122.273392,2014-10-03,Yellow,No comments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
25,3657.0,1000 STONYBROOK DR,38.306477,-122.343513,2014-09-05,Yellow,Remove fallen chimney from roof,Residential,1876.0,NaN,703300.0,0.0,0.0,2.0,2014-09-09,2014-09-26,94559
26,3072.0,1001 SECOND ST,38.298252,-122.285179,2014-09-05,Red,Unsafe building (Alexandria Square),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
27,3191.0,1001 SECOND ST,38.298252,-122.285179,2014-09-05,Yellow,Alexandrea Bldg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
28,3192.0,1001 SECOND ST,38.298252,-122.285179,2014-09-08,Yellow,"OK to occupy except Ste 165, 185, 245, 335, 34...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
29,3194.0,1001 SECOND ST,38.298252,-122.285179,2014-09-25,Green,Appears to be masonry façade @ 3rd floor cover...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,94559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,NaN,2225 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,2071.0,1896,576800.0,0.0,0.0,3.0,NaT,NaT,94559
3433,NaN,2237 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1334.0,1951,466600.0,0.0,0.0,3.0,NaT,NaT,94559
3434,NaN,2240 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,3200.0,1986,1618200.0,0.0,0.0,2.0,NaT,NaT,94559
3435,NaN,2245 2ND ST,NaN,NaN,NaT,NaN,NaN,Residential,1374.0,1934,564300.0,0.0,0.0,1.0,NaT,NaT,94559
3436,NaN,2247 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,2377.0,NaN,562600.0,0.0,0.0,4.0,NaT,NaT,94559
3437,NaN,2265 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,2024.0,1886,665000.0,0.0,0.0,4.0,NaT,NaT,94559
3438,NaN,2270 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1824.0,1935,780500.0,0.0,0.0,2.0,NaT,NaT,94559
3439,NaN,2275 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,2024.0,1885,567500.0,0.0,0.0,2.0,NaT,NaT,94559
3440,NaN,2281 2ND ST,NaN,NaN,NaT,NaN,NaN,Residential,1582.0,1918,661500.0,0.0,0.0,4.0,2015-03-01,2016-05-01,94559
3441,NaN,2285 2ND ST,NaN,NaN,NaT,NaN,NaN,Residential,1943.0,1900,528900.0,0.0,0.0,3.0,NaT,NaT,94559
3442,NaN,2290 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,1314.0,1900,621000.0,0.0,0.0,3.0,NaT,NaT,94559
3443,NaN,2307 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,760.0,1910,390000.0,0.0,0.0,4.0,NaT,NaT,94559
3444,NaN,2330 2ND ST,NaN,NaN,NaT,NaN,NaN,Residential,1200.0,NaN,761040.0,0.0,0.0,2.0,NaT,NaT,94559
3445,NaN,2347 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1188.0,1925,460500.0,0.0,0.0,2.0,NaT,NaT,94559
3446,NaN,2425 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,1106.0,1947,641500.0,0.0,0.0,2.0,NaT,NaT,94559
3447,NaN,2464 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,894.0,1951,578300.0,0.0,0.0,2.0,NaT,NaT,94559
3448,NaN,25 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1600.0,NaN,NaN,0.0,0.0,2.0,NaT,NaT,94559
3449,NaN,2614 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1250.0,NaN,586656.0,0.0,0.0,2.0,NaT,NaT,94559
3450,NaN,2617 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1286.0,1930,722100.0,0.0,0.0,4.0,NaT,NaT,94559
3451,NaN,2859 KILBURN AVE,NaN,NaN,NaT,NaN,NaN,Residential,855.0,1941,312400.0,0.0,0.0,2.0,NaT,NaT,94559
3452,NaN,2930 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1484.0,1966,513700.0,0.0,0.0,2.0,NaT,NaT,94559
3453,NaN,2982 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,7394.0,1929,1249500.0,0.0,0.0,3.0,NaT,NaT,94559
3454,NaN,355 S JEFFERSON ST,NaN,NaN,NaT,NaN,NaN,Residential,1916.0,1940,630000.0,0.0,0.0,1.0,2015-07-20,2015-07-27,94559
3455,NaN,3660 DARTMOUTH DR,NaN,NaN,NaT,NaN,NaN,Residential,1240.0,1959,523200.0,0.0,0.0,1.0,NaT,NaT,94559
3456,NaN,3765 DOVER ST,NaN,NaN,NaT,NaN,NaN,Residential,1420.0,1959,491700.0,0.0,0.0,1.0,2014-12-10,2015-01-14,94559
3457,NaN,40 HOLLY CT,NaN,NaN,NaT,NaN,NaN,Residential,2500.0,NaN,NaN,0.0,0.0,2.0,2014-09-05,2015-04-22,94559
3458,NaN,458 BROWN ST,NaN,NaN,NaT,NaN,NaN,Residential,1200.0,1900,556900.0,0.0,0.0,2.0,NaT,NaT,94559
3459,NaN,607 S MINAHEN ST,NaN,NaN,NaT,NaN,NaN,Residential,1268.0,1955,439600.0,0.0,0.0,2.0,2015-05-12,NaT,94559
3460,NaN,611 1ST ST,NaN,NaN,NaT,NaN,NaN,Residential,1175.0,1890,526400.0,0.0,0.0,2.0,NaT,NaT,94559
3461,NaN,643 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,2000.0,NaN,785600.0,0.0,0.0,2.0,NaT,NaT,94559

In [445]:
napa_data_slice1 = napa_data[:866]
napa_data_slice2 = napa_data[866:1732]
napa_data_slice3 = napa_data[1732:2598]
napa_data_slice4 = napa_data[2598:3462]

# Zillow Data

In [11]:
zillow_api_key = 'X1-ZWz1fau70lqih7_1pt0f'
zillow_data = ZillowWrapper(zillow_api_key)

In [64]:
address = '1 BURNETTE CT'
zipcode = '94559'
deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
deep_output = GetDeepSearchResults(deep_search_response)

In [65]:
deep_output.home_type

'SingleFamily'

In [66]:
deep_outputs = []

home_type = []
home_size = []
year_built = []
bathrooms = []
bedrooms = []
zestimate = []
long = []
lat = []
tax_value = []


for index, row in napa_data.iterrows():
    address = row['Address']
    zipcode = row['Zipcode']
    
#     print(address, ' ', zipcode)
    
    try:
#         time.sleep(0.1)
        deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
        deep_output = GetDeepSearchResults(deep_search_response)
        
        home_type.append(deep_output.home_type)
        home_size.append(deep_output.home_size)
        year_built.append(deep_output.year_built)
        bathrooms.append(deep_output.bathrooms)
        bedrooms.append(deep_output.bedrooms)
        zestimate.append(deep_output.zestimate_amount)
        long.append(deep_output.longitude)
        lat.append(deep_output.latitude)
        tax_value.append(deep_output.tax_value)
    
    except Exception as e:
#         print('Crap')
        home_type.append(np.nan)
        home_size.append(np.nan)
        year_built.append(np.nan)
        bathrooms.append(np.nan)
        bedrooms.append(np.nan)
        zestimate.append(np.nan)
        long.append(np.nan)
        lat.append(np.nan)
        tax_value.append(np.nan)

In [67]:
len(home_type)

3462

In [68]:
napa_data['Home Type'] = home_type
napa_data['Home Size'] = home_size
napa_data['Year Built'] = year_built
napa_data['Bathrooms'] = bathrooms
napa_data['Bedrooms'] = bedrooms
napa_data['Zestimate'] = zestimate
napa_data['Longitude'] = long
napa_data['Latitude'] = lat
napa_data['Tax Value'] = tax_value

In [103]:
napa_data

,Object ID,Address,Latitude,Longitude,Entry,Tag,Description,Occupancy Original,Area,Year,...,Permit Issued,Permit Finaled,Zipcode,Home Type,Home Size,Year Built,Bathrooms,Bedrooms,Zestimate,Tax Value
0,981.0,1 BURNETTE CT,38.315221,-122.308159,2014-09-05,Yellow,"chimney broken at roof line, avoid side yard u...",Residential,1106.0,1954,...,NaT,NaT,94559,Single Family Dwelling,1106,1954,1.0,3,490246,205626.0
1,809.0,1 EDITH CT,38.314799,-122.310569,2014-09-23,Yellow,chimney cracked at roofline - do not use firep...,Residential,2200.0,NaN,...,NaT,NaT,94559,Single Family Dwelling,1106,1954,1.0,3,489155,177844.0
2,2379.0,1 FIRST ST,38.303609,-122.273581,2014-09-05,Yellow,"separation of chimney bricks, Restriction arou...",NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1046,1928,1.0,2,615207,204102.0
3,1196.0,1 HUNTINGTON CT,38.304292,-122.323169,2014-09-05,Green,no posting - property owner structural engr,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,3267,1990,2.5,3,1131885,871923.0
4,1242.0,1 LUKE DR,38.343541,-122.327269,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1841,1993,3.0,3,739959,509296.0
5,2942.0,1 ROSE LN,38.305593,-122.294197,2014-09-05,Yellow,Chimney cracked @ roof line,Residential,1292.0,1951,...,2014-11-21,NaT,94559,Single Family Dwelling,1292,1951,1.0,2,597020,51092.0
6,3215.0,1 ST FRANCIS CIR,38.274882,-122.306775,2014-09-25,Green,Under repair due to H2O damage. No major damag...,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,2748,1990,3.0,3,857736,540824.0
7,2664.0,1 WESLEY CT,38.343316,-122.32935,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1988,1993,2.0,3,762139,775260.0
8,2979.0,1 WHITE TAIL DR,38.343581,-122.328436,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1841,1992,2.5,3,756201,386872.0
9,402.0,10 ENTERPRISE CT,NaN,NaN,2014-09-05,Green,,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1562.0,10 HARVARD LN,38.309396,-122.343972,2014-09-24,Green,Minor drywall cracking,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1218,1957,2.0,3,637847,420046.0
11,1845.0,10 LEANN CT,NaN,NaN,2014-09-25,Green,Interior GYP board cracking,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1223.0,10 LUGO LN,38.288859,-122.271131,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1136,1994,1.5,3,559550,202675.0
13,2584.0,10 LUKE DR,38.344076,-122.327891,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Triplex,None,None,None,0,718567,612183.0
14,1150.0,10 OAK ROCK LN,38.296319,-122.342913,2014-09-05,Green,minor damage,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,3480,2010,None,None,1367789,1466067.0
15,72.0,10 TUSCANY CT,38.313072,-122.342784,2014-09-05,Yellow,front door does not open,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,3112,1995,3.0,4,1122257,805327.0
16,2662.0,10 WESLEY CT,38.343553,-122.330127,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,2745,1992,2.5,3,1184345,523571.0
17,3111.0,10 WHITE TAIL DR,38.343716,-122.329168,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,2461,1993,3.0,4,1066557,770000.0
18,2488.0,10 WILD RYE WAY,38.32661,-122.298275,2014-09-24,Green,Cracks in stucco diagonal south east wall @ wi...,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,2166,1999,2.5,4,755625,715000.0
19,1139.0,100 LILIENTHAL AVE,38.28793,-122.311623,2014-09-23,Yellow,"cracks at firebox of masonry chimney, water he...",Residential,1572.0,1955,...,NaT,NaT,94559,Single Family Dwelling,1572,1955,2.0,3,561957,300965.0
20,2289.0,100 PICKWICK DR,38.287568,-122.306257,2014-09-05,Green,chimney,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1493,1955,2.0,4,521502,237725.0
21,2476.0,100 PICKWICK DR,38.287568,-122.306257,2014-10-02,Yellow,Chimney fall hazard removed,NaN,NaN,NaN,...,NaT,NaT,94559,Single Family Dwelling,1493,1955,2.0,4,521502,237725.0
22,2895.0,100 RIVERSIDE DR,38.286959,-122.284682,2014-09-05,Green,structure good,NaN,NaN,NaN,...,NaT,NaT,94559,VacantResidentialLand,None,None,None,0,None,None
23,2345.0,1000 MAIN ST,NaN,NaN,2014-09-05,Yellow,Northwall crack - 3rd floor can see daylightm ...,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2828.0,1000 MONTICELLO RD,NaN,NaN,2014-10-03,Yellow,No comments,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3657.0,1000 STONYBROOK DR,38.306455,-122.343511,2014-09-05,Yellow,Remove fallen chimney from roof,Residential,1876.0,NaN,...,2014-09-09,2014-09-26,94559,Single Family Dwelling,1876,1967,3.0,4,767824,312595.0
26,3072.0,1001 SECOND ST,NaN,NaN,2014-09-05,Red,Unsafe building (Alexandria Square),NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3191.0,1001 SECOND ST,NaN,NaN,2014-09-05,Yellow,Alexandrea Bldg,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3192.0,1001 SECOND ST,NaN,NaN,2014-09-08,Yellow,"OK to occupy except Ste 165, 185, 245, 335, 34...",NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3194.0,1001 SECOND ST,NaN,NaN,2014-09-25,Green,Appears to be masonry façade @ 3rd floor cover...,NaN,NaN,NaN,...,NaT,NaT,94559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,NaN,2225 1ST ST,38.297613,-122.29762,NaT,NaN,NaN,Residential,2071.0,1896,...,NaT,NaT,94559,Duplex,2071,1896,3.0,3,930115,229623.0
3433,NaN,2237 1ST ST,38.297632,-122.297788,NaT,NaN,NaN,Residential,1334.0,1951,...,NaT,NaT,94559,Single Family Dwelling,1334,1951,1.0,3,593841,51143.0
3434,NaN,2240 1ST ST,38.298342,-122.297883,NaT,NaN,NaN,Residential,3200.0,1986,...,NaT,NaT,94559,Single Family Dwelling,1365,1930,1.0,2,619569,58782.0
3435,NaN,2245 2ND ST,38.296802,-122.29813,NaT,NaN,NaN,Residential,1374.0,1934,...,NaT,NaT,94559,Single Family Dwelling,1374,1934,2.0,5,613817,571429.0
3436,NaN,2247 1ST ST,38.297684,-122.297974,NaT,NaN,NaN,Residential,2377.0,NaN,...,NaT,NaT,94559,Duplex,2377,None,3.0,4,894037,289162.0
3437,NaN,2265 3RD ST,38.296046,-122.298635,NaT,NaN,NaN,Residential,2024.0,1886,...,NaT,NaT,94559,Single Family Dwelling,1904,1896,2.0,3,833293,678300.0
3438,NaN,2270 1ST ST,38.298212,-122.298369,NaT,NaN,NaN,Residential,1824.0,1935,...,NaT,NaT,94559,Single Family Dwelling,1824,1935,3.0,3,810906,509851.0
3439,NaN,2275 3RD ST,38.296062,-122.298793,NaT,NaN,NaN,Residential,2024.0,1885,...,NaT,NaT,94559,Duplex,2024,1885,3.0,6,925780,401504.0
3440,NaN,2281 2ND ST,38.296861,-122.298686,NaT,NaN,NaN,Residential,1582.0,1918,...,2015-03-01,2016-05-01,94559,Single Family Dwelling,1535,2016,2.5,3,616357,152929.0
3441,NaN,2285 2ND ST,38.296884,-122.298928,NaT,NaN,NaN,Residential,1943.0,1900,...,NaT,NaT,94559,Duplex,1943,1900,3.0,5,908714,174234.0
3442,NaN,2290 3RD ST,38.296622,-122.29952,NaT,NaN,NaN,Residential,1314.0,1900,...,NaT,NaT,94559,Single Family Dwelling,1314,1900,1.0,3,591858,209122.0
3443,NaN,2307 1ST ST,38.297748,-122.298817,NaT,NaN,NaN,Residential,760.0,1910,...,NaT,NaT,94559,Single Family Dwelling,760,1910,1.0,2,525617,148638.0
3444,NaN,2330 2ND ST,38.297349,-122.299093,NaT,NaN,NaN,Residential,1200.0,NaN,...,NaT,NaT,94559,Triplex,1500,None,2.0,0,803974,907800.0
3445,NaN,2347 1ST ST,38.29791,-122.299574,NaT,NaN,NaN,Residential,1188.0,1925,...,NaT,NaT,94559,Single Family Dwelling,1188,1925,1.0,1,516399,158202.0
3446,NaN,2425 3RD ST,38.296301,-122.301073,NaT,NaN,NaN,Residential,1106.0,1947,...,NaT,NaT,94559,Single Family Dwelling,1106,1947,1.0,3,511936,311593.0
3447,NaN,2464 3RD ST,38.296786,-122.300994,NaT,NaN,NaN,Residential,894.0,1951,...,NaT,NaT,94559,Single Family Dwelling,894,1951,1.0,2,486524,54796.0
3448,NaN,25 1ST ST,38.303583,-122.273921,NaT,NaN,NaN,Residential,1600.0,NaN,...,NaT,NaT,94559,Single Family Dwelling,926,1941,1.0,2,607675,605000.0
3449,NaN,2614 1ST ST,38.299971,-122.30682,NaT,NaN,NaN,Residential,1250.0,NaN,...,NaT,NaT,94559,Single Family Dwelling,None,None,None,0,None,2019331.0
3450,NaN,2617 1ST ST,38.299235,-122.307006,NaT,NaN,NaN,Residential,1286.0,1930,...,NaT,NaT,94559,Single Family Dwelling,1286,1930,1.0,2,None,440330.0
3451,NaN,2859 KILBURN AVE,38.298679,-122.31077,NaT,NaN,NaN,Residential,855.0,1941,...,NaT,NaT,94559,Single Family Dwelling,855,1941,1.0,3,456511,42352.0
3452,NaN,2930 1ST ST,38.301261,-122.311651,NaT,NaN,NaN,Residential,1484.0,1966,...,NaT,NaT,94559,Single Family Dwelling,1484,1966,2.5,None,719221,76738.0
3453,NaN,2982 1ST ST,38.301885,-122.313584,NaT,NaN,NaN,Residential,7394.0,1929,...,NaT,NaT,94559,Triplex,2217,1929,2.0,3,911621,1293962.0
3454,NaN,355 S JEFFERSON ST,38.285446,-122.29442,NaT,NaN,NaN,Residential,1916.0,1940,...,2015-07-20,2015-07-27,94559,Single Family Dwelling,1916,1940,2.0,3,773209,365203.0
3455,NaN,3660 DARTMOUTH DR,38.313954,-122.344648,NaT,NaN,NaN,Residential,1240.0,1959,...,NaT,NaT,94559,Single Family Dwelling,1240,1959,2.0,3,638241,56711.0
3456,NaN,3765 DOVER ST,38.324567,-122.319818,NaT,NaN,NaN,Residential,1420.0,1959,...,2014-12-10,2015-01-14,94559,Single Family Dwelling,1420,1959,2.0,3,580875,190961.0
3457,NaN,40 HOLLY CT,38.320048,-122.270498,NaT,NaN,NaN,Residential,2500.0,NaN,...,2014-09-05,2015-04-22,94559,Single Family Dwelling,1808,1966,2.5,3,903668,880563.0
3458,NaN,458 BROWN ST,38.292491,-122.28358,NaT,NaN,NaN,Residential,1200.0,1900,...,NaT,NaT,94559,Single Family Dwelling,1200,1900,1.0,3,744388,76281.0
3459,NaN,607 S MINAHEN ST,38.279144,-122.296324,NaT,NaN,NaN,Residential,1268.0,1955,...,2015-05-12,NaT,94559,Single Family Dwelling,1268,1955,2.0,3,521020,120442.0
3460,NaN,611 1ST ST,38.301064,-122.281201,NaT,NaN,NaN,Residential,1175.0,1890,...,NaT,NaT,94559,Single Family Dwelling,1175,1890,1.0,2,784676,525000.0
3461,NaN,643 3RD ST,NaN,NaN,NaT,NaN,NaN,Residential,2000.0,NaN,...,NaT,NaT,94559,Single Family Dwelling,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
niz = napa_data[pd.isnull(napa_data['Home Type'])]

In [80]:
len(niz[niz['Tag']=='Red']) + len(niz[niz['Tag']=='Yellow'])

1464

In [92]:
napa_data = napa_data.rename(columns={'Occupancy': 'Occupancy Original'})

In [94]:
def change_occupancy(x):
    if x == 'SingleFamily':
        return 'Single Family Dwelling'
    else:
        return x

In [95]:
napa_data['Home Type'] = napa_data['Home Type'].apply(change_occupancy)

In [100]:
napa_data['Home Type'].fillna(napa_data['Occupancy Original'], inplace=True)

In [101]:
def change_occupancy_again(x):
    if x == 'Residential':
        return 'Single Family Dwelling'
    else:
        return x

In [102]:
napa_data['Home Type'] = napa_data['Home Type'].apply(change_occupancy_again)

In [105]:
napa_data.to_excel('napa_desaster_input_data_from_jupyter.xlsx')